<% for(var i = 0; i < result.length; i++){ %>
<h4>_id : <%= result[i]._id %></h4>
<h4>ancUID : <%= result[i].ancUID %></h4>
<h4>mySae : <%= result[i].mySae %></h4>
<h4>myName : <%= result[i].myName %></h4>
<h4>myNamechi : <%= result[i].myNamechi %></h4>
<h4>ect : <%= result[i].ect %></h4>
<h4>moddate : <%= result[i].moddate %></h4>
<h4>-</h4>
<% } %>